<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <section class="content">
        <router-outlet></router-outlet>
    </section>
  </div>
</div>
<app-footer></app-footer>