<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="header"><i class="fa fa-users"></i> Personales</li>
    <li class="active">
        <a href="#lista" data-toggle="tab">Lista</a></li>
    <li>
        <a href="#detalles" data-toggle="tab" #formTab>Detalles</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="lista">
        <app-personal-list></app-personal-list>
    </div>

    <div class="tab-pane" id="detalles">
       <app-personal-form></app-personal-form>
    </div>
  </div>
</div>