<table class="table">

  <thead>
      <tr>
        <th class="text-center">LISTA DE DEPARTAMENTOS ({{departamentos.length}})</th>
      </tr>
  </thead>
  
  <tbody>
      <tr *ngFor="let dep of departamentos" style="cursor: pointer;" (click)="selectData(dep)">
          <td>{{dep.nombre}}</td>
      </tr>
  </tbody>
</table>