<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="header"><i class="fa fa-users"></i> Solicitantes</li>
    <li class="active">
        <a href="#lista" data-toggle="tab">Lista ({{lista.solicitantes.length}})</a></li>
    <li>
        <a href="#detalles" data-toggle="tab" #formTab>Detalles</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="lista">
        <app-solicitante-list></app-solicitante-list>
    </div>

    <div class="tab-pane" id="detalles">
       <app-solicitante-form></app-solicitante-form>
    </div>
  </div>
</div>