<p class="text-success">{{okMsg}}</p>
<p class="text-danger">{{errorMsg}}</p>
<form #myForm="ngForm">
  <div class="row">
    <div class="col-md-2 form-group">
      <label>CÓDIGO</label>
      <input class="form-control" [(ngModel)]="entity.codigo" name="cedula" required/>
    </div>

    <div class="col-md-5 form-group">
      <label>NOMBRES</label>
      <input class="form-control" [(ngModel)]="entity.nombre" name="nombre" required/>
    </div>

    <div class="col-md-5 form-group">
      <label>APELLIDOS</label>
      <input class="form-control" [(ngModel)]="entity.apellido" name="apellido" required/>
    </div>
  </div>

  <app-abm-buttons></app-abm-buttons>
</form>