<table class="table">
  <thead>
     <tr>
         <th>CEDULA</th>
         <th>SOLICITANTE</th>
         <th>TIPO TAREA</th>
     </tr>
  </thead>
  <tbody>
       <tr *ngFor="let ta of tareas" 
           (click)="selectData(ta)" style="cursor: pointer;">
           <td>{{ta.solicitante.cedula}}</td>
           <td>{{ta.solicitante.nombre + ' '+ ta.solicitante.apellido }}</td>
           <td>{{ta.tipoTarea.nombre}}</td>
       </tr>
  </tbody>
</table>
