<p class="text-success">{{okMsg}}</p>
<p class="text-danger">{{errorMsg}}</p>
<form #myForm="ngForm">

  <div class="row">
    <div class="col-md-4 form-group">
      <label>TIPO</label>
      <select class="form-control" [(ngModel)]="entity.tipoTarea" name="tipo" [compareWith]="compareEntityFn" required>
        <option *ngFor="let tipo of tipoTareaList" [ngValue]="tipo">
          {{tipo.nombre}}</option>
      </select>
    </div>

    <div class="col-md-8 form-group">
      <label>SOLICITANTE</label>
      <select class="form-control" [(ngModel)]="entity.solicitante" name="sol" [compareWith]="compareEntityFn" required>
        <option *ngFor="let sol of solicitanteList" [ngValue]="sol">
          {{sol.nombre + ' ' +sol.apellido}}</option>
      </select>
    </div>

    <div class="col-md-3 form-group" *ngIf="entity.fechaSolicitud">
      <label>FECHA SOLICITUD</label>
      <input class="form-control" [value]="entity.fechaSolicitud" disabled/>
    </div>

    <div class="col-md-3 form-group" *ngIf="entity.estado">
      <label>ESTADO</label>
      <input class="form-control" [value]="entity.estado=='P'?'PENDIENTE':'FINALIZADO'" disabled/>
    </div>

    <div class="col-md-6 form-group">
      <label>OBSERVACION</label>
      <input class="form-control" [(ngModel)]="entity.observacion" name="observacion" />
    </div>
  </div>

  <app-abm-buttons></app-abm-buttons>
</form>