<table class="table">
  <thead>
     <tr>
         <th>CÓDIGO</th>
         <th>NOMBRES</th>
         <th>APELLIDOS</th>
     </tr>
  </thead>

  <tbody>
       <tr *ngFor="let per of personales" 
           (click)="selectData(per)" 
           style="cursor: pointer;">
           <td>{{per.codigo}}</td>
           <td>{{per.nombre}}</td>
           <td>{{per.apellido}}</td>
       </tr>
  </tbody>
</table>
