<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander</p>
      </div>
    </div>

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>

      <li class="active"><a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i> Dashboard</a>
      </li>


      <li class="treeview">
        <a data-toggle="collapse" href="#dg">
          <i class="fa fa-users"></i> <span>Datos Generales</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" id="dg">
          <li><a routerLink="/solicitantes"><i class="fa fa-circle-o"></i>Solicitantes</a></li>
          <li><a routerLink="/departamentos"><i class="fa fa-circle-o"></i>Departamentos</a></li>
          <li><a routerLink="/clientes"><i class="fa fa-circle-o"></i>Clientes</a></li>
          <li><a routerLink="/tareas"><i class="fa fa-circle-o"></i>Tareas</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a data-toggle="collapse" href="#admin">
          <i class="fa fa-users"></i> <span>Admin</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" id="admin">
          <li><a><i class="fa fa-circle-o"></i> Usuarios</a></li>
          <li><a><i class="fa fa-circle-o"></i> Roles</a></li>
        </ul>
      </li>

    </ul>
  </section>
</aside>