<p class="text-success">{{okMsg}}</p>
<p class="text-danger">{{errorMsg}}</p>
<form #myForm="ngForm">
  
  <div class="row">
    <div class="col-md-2 form-group">
      <label>CÉDULA</label>
      <input class="form-control" [(ngModel)]="entity.cedula" name="cedula" required/>
    </div>

    <div class="col-md-5 form-group">
      <label>NOMBRES</label>
      <input class="form-control" [(ngModel)]="entity.nombre" name="nombre" required/>
    </div>

    <div class="col-md-5 form-group">
      <label>APELLIDOS</label>
      <input class="form-control" [(ngModel)]="entity.apellido" name="apellido" required/>
    </div>

    <div class="col-md-6 form-group">
      <label>DEPARTAMENTO</label>
      <select class="form-control" [(ngModel)]="entity.departamento" name="dep"   [compareWith]="compareEntityFn"  required>
        <option *ngFor="let d of departamentos" [ngValue]="d">
          {{d.nombre}}</option>
      </select>
    </div>

    <div class="col-md-6 form-group">
      <label>CARGO</label>
      <select class="form-control" [(ngModel)]="entity.cargo" name="cargo"  [compareWith]="compareEntityFn" required>
        <option *ngFor="let c of cargos" [ngValue]="c">
          {{c.nombre}}</option>
      </select>
    </div>
  </div>

  <app-abm-buttons></app-abm-buttons>
</form>