<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="header"><i class="fa fa-cogs"></i> Tareas  
             <button class="btn btn-primary"  data-toggle="modal"  data-target="#nueva-tarea-modal"><i class="fa fa-plus-circle"></i>Nueva tarea</button></li>
        <li class="active">
            <a href="#pendientes" data-toggle="tab" #pendientesTab> <i class="fa  fa-hourglass-start"></i> Pendientes ({{tareasPendientes.length}})</a></li>
        <li>
            <a href="#finalizadas" data-toggle="tab" #finalizadasTab> <i class="fa fa-check"></i>Finalizadas  ({{tareasFinalizadas.length}})</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="pendientes">
            <table class="table">
                <thead>
                    <tr>
                        <th>SOLICITANTE</th>
                        <th>DEPARTAMENTO</th>
                        <th>CARGO</th>
                        <th>OBS.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tareasPendientes">
                        <td>{{t.solicitante.nombre + ' ' + t.solicitante.apellido}}</td>
                        <td>{{t.solicitante.departamento.nombre}}</td>
                        <td>{{t.solicitante.cargo.nombre}}</td>
                        <td>{{t.observacion}}</td>
                        <td>
                            <button class="btn btn-primary" style="cursor: pointer" title="Marcar como finalizada" data-toggle="modal" (click)="seleccionarTarea(t, 'F')"
                                data-target="#confirm-cambio-estado">
                                <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="finalizadas">
            <table class="table">
                <thead>
                    <tr>
                        <th>SOLICITANTE</th>
                        <th>DEPARTAMENTO</th>
                        <th>CARGO</th>
                        <th>OBS.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tareasFinalizadas">
                        <td>{{t.solicitante.nombre + ' ' + t.solicitante.apellido}}</td>
                        <td>{{t.solicitante.departamento.nombre}}</td>
                        <td>{{t.solicitante.cargo.nombre}}</td>
                        <td>{{t.observacion}}</td>
                        <td>
                            <button class="btn btn-primary" style="cursor: pointer" title="Marcar como pendiente" 
                               data-toggle="modal" (click)="seleccionarTarea(t, 'P')"
                                data-target="#confirm-cambio-estado">
                                <i class="fa fa-arrow-circle-left"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal modal-default fade" id="confirm-cambio-estado">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cambio de Estado</h4>
            </div>

            <div class="modal-body">
                <p>Desea cambiar estado de tarea?</p>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info" style="margin:3px"><i class="fa fa-cancel">

                    </i>Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" style="margin:3px" (click)="cambiarEstado()">
                    <i class="fa fa-ok"></i>Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-default fade" id="nueva-tarea-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeTareaFormModalBtn>
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Registro de tarea</h4>
            </div>

            <div class="modal-body">
                <app-tarea-form></app-tarea-form>
            </div>
        </div>
    </div>
</div>