<table class="table">
   <thead>
      <tr>
          <th>CEDULA</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>CARGO</th>
      </tr>
   </thead>

   <tbody>
        <tr *ngFor="let sol of solicitantes" 
            (click)="selectData(sol)" style="cursor: pointer;">
            <td>{{sol.cedula}}</td>
            <td>{{sol.nombre}}</td>
            <td>{{sol.apellido}}</td>
            <td>{{sol.cargo.nombre}}</td>
        </tr>
   </tbody>
</table>
