<p class="text-success">{{okMsg}}</p>
<p class="text-danger">{{errorMsg}}</p>
<form #myForm="ngForm">

  <div class="row">
    <div class="col-md-2 form-group">
      <label>CÉDULA</label>
      <input class="form-control" [(ngModel)]="entity.ruc" name="ruc" required/>
    </div>

    <div class="col-md-10 form-group">
      <label>RAZON SOCIAL</label>
      <input class="form-control" [(ngModel)]="entity.razonSocial" name="razon" required/>
    </div>

    <div class="col-md-6 form-group">
      <label>DEPARTAMENTO</label>
      <select class="form-control" [(ngModel)]="entity.departamento" name="dep" [compareWith]="compareEntityFn" required>
        <option *ngFor="let d of departamentos" [ngValue]="d">
          {{d.nombre}}</option>
      </select>
    </div>

    <div class="col-md-6 form-group">
      <label>DIRECCION</label>
      <input class="form-control" [(ngModel)]="entity.direccion" name="direccion" />
    </div>
  </div>

  <app-abm-buttons></app-abm-buttons>
</form>